<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Su Squares Launch Week",
  "description": "Details the 2018 launch week special offer where collectors could mint Su Squares NFTs and receive a free adjacent Square. The event marked the initial public offering of Su Squares.",
  "inLanguage": "en",
  "startDate": "2018-08-06T00:00:00+00:00",
  "endDate": "2018-08-13T23:59:00+00:00",
  "eventAttendanceMode": "http://schema.org/OnlineEventAttendanceMode",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png",
  "location": {
    "@type": "VirtualLocation",
    "url": "{{ site.url }}{{ site.baseurl }}/buy"
  },
  "organizer": {
    "@type": "Organization",
    "name": "Su Squares",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "performer": {
    "@type": "Person",
    "name": "Su Entriken",
    "url": "mailto:Su@TenThousandSu.com"
  },
  "offers": {
    "@type": "Offer",
    "name": "Launch Week Special Offer",
    "description": "Buy one Su Square NFT during launch week and receive an adjacent Square for free by refund.",
    "availabilityStarts": "2018-08-06T00:00:00+00:00",
    "availabilityEnds": "2018-08-13T23:59:00+00:00",
    "price": "0.5",
    "priceCurrency": "ETH"
  }
}
</script>
