<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "Su Squares open sourced",
  "name": "Su Squares open sourced",
  "description": "Announces that the Su Squares smart contract, website, and supporting tooling are now fully open source after reaching the milestone of 1,000 Squares sold.",
  "inLanguage": "en",
  "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  },
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png",
  "datePublished": "2021-08-29",
  "author": {
    "@type": "Organization",
    "name": "Su Squares",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Su Squares",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "about": {
    "@type": "Thing",
    "name": "Su Squares",
    "description": "An early ERC-721-based NFT project consisting of 10,000 Squares on Ethereum Mainnet that can be owned and personalized."
  },
  "mentions": [
    {
      "@type": "DefinedTerm",
      "name": "Open source software",
      "description": "Software whose source code is made freely available for use, modification, and distribution."
    },
    {
      "@type": "SoftwareSourceCode",
      "name": "Su Squares smart contract",
      "url": "https://github.com/su-squares/ethereum-contract"
    },
    {
      "@type": "SoftwareSourceCode",
      "name": "Su Squares website",
      "url": "https://github.com/su-squares/tenthousandsu.com"
    },
    {
      "@type": "SoftwareSourceCode",
      "name": "Su Squares website build tooling",
      "url": "https://github.com/su-squares/update-script"
    }
  ]
}
</script>
