<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "Project history",
  "description": "Chronicles the origins and milestones of the Su Squares NFT project, including its relationship to the ERC-721 standard.",
  "inLanguage": "en",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  },
  "author": [
    {
      "@type": "Person",
      "name": "William Entriken",
      "url": "https://phor.net"
    }
  ],
  "publisher": {
    "@type": "Organization",
    "name": "Su Squares",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png",
  "datePublished": "2021-09-17",
  "about": {
    "@type": "Thing",
    "name": "Su Squares",
    "description": "An early ERC-721-based NFT project consisting of 10,000 on-chain squares that can be owned and personalized on Ethereum Mainnet.",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "mentions": {
    "@type": "DefinedTerm",
    "name": "ERC-721",
    "termCode": "ERC-721",
    "url": "https://eips.ethereum.org/EIPS/eip-721",
    "description": "The Ethereum non-fungible token (NFT) standard co-authored by William Entriken."
  }
}
</script>
