<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SiteNavigationElement",
  "name": "Main navigation",
  "hasPart": [
    {
      "@type": "WebPage",
      "name": "Home",
      "url": "{{ site.url }}{{ site.baseurl }}/"
    },
    {
      "@type": "WebPage",
      "name": "Mint",
      "url": "{{ site.url }}{{ site.baseurl }}/buy"
    },
    {
      "@type": "WebPage",
      "name": "Personalize",
      "url": "{{ site.url }}{{ site.baseurl }}/personalize"
    },
    {
      "@type": "WebPage",
      "name": "Batch mode",
      "url": "{{ site.url }}{{ site.baseurl }}/personalize-batch"
    },
    {
      "@type": "WebPage",
      "name": "About us",
      "url": "{{ site.url }}{{ site.baseurl }}/white-paper"
    },
    {
      "@type": "WebPage",
      "name": "FAQ",
      "url": "{{ site.url }}{{ site.baseurl }}/faq"
    },
    {
      "@type": "WebPage",
      "name": "Articles",
      "url": "{{ site.url }}{{ site.baseurl }}/articles"
    }
  ]
}
</script>
