/_site
/vendor

# Becuase GitHub Pages uses its own version and not the one in your lock file
Gemfile.lock

# Ignore node_modules from nodejs workspace
**/node_modules/

### Builder workspace ###

# Ignore builder output
/nodejs/builder/dist/


### Smart Contract workspace ###
.env
.env.sunet
.env.contract
nodejs/smart-contract/sunet/data
nodejs/smart-contract/sunet/data/besu
nodejs/smart-contract/sunet/config
nodejs/smart-contract/sunet/blockscout
nodejs/smart-contract/contracts-deployed/
nodejs/smart-contract/artifacts/
nodejs/smart-contract/cache/
