# https://www.drupal.org/node/2645198
RewriteRule "^.well-known/acme-challenge" - [L]

# https://stackoverflow.com/a/4399158/300224
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# https://stackoverflow.com/a/1270281/300224
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^BETAR/(.*)$ /$1 [R=301,L]
RewriteRule ^BETAT/(.*)$ /$1 [R=301,L]

# Serve JSON files
RewriteCond %{REQUEST_URI} ^/erc721/([0-9]{5}).json$
RewriteRule ^erc721/([0-9]{5}).json$ /erc721-json.php?$1 [L,QSA]
