---
layout: null
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Su Squares, cute squares you own and personalize</title>
  <meta name="description" content="The first ERC-721 NFT. Cute squares you own and personalize.">
  <link rel="stylesheet" href="assets/main.css?20210926">
  {% include nav-menu-head.html %}
  {% include alert-modal-head.html %}
  {% include offline-modal-head.html %}
</head>

<body>
  {% include nav-header.html %}

  <article class="square-page">
    <h1>Square #<span id="square-number">...</span></h1>
    <div id="image"></div>

    <div class="dl-wrapper">
      <dl class="dl-styled">
        <dt>Minted</dt>
        <dd id="minted"></dd>
        <dt>Personalized</dt>
        <dd id="personalized"></dd> <!-- also show #X most recent -->
        <dt>Title</dt>
        <dd id="title"></dd>
        <dt>Link</dt>
        <dd id="link"></dd>
      </dl>
    </div>

    <h2>Location</h2>
    <div style="position:relative;height:1000px; zoom: 0.5">
      <img id="theImage" src="build/wholeSquare.webp" alt="All Su Squares" style="height:1000px; width:1000px">
      <img id="arrow" src="assets/dr.png" alt="Location" style="height:100px; width:100px; position:absolute">
    </div>

    <h2>Emojified</h2>
    <pre id="emojified"></pre>
    <button class="btn" id="copy-emojified">Copy</button>
  </article>

  <footer>
    <small>
      No cookies. No analytics. Not responsible for content of linked sites. Images shown on homepage are &copy; their
      respective owners. This image <a target="_blank"
        href="https://github.com/su-squares/tenthousandsu.com/actions/workflows/load-from-blockchain.yml">refreshes
        hourly</a>. To the extent possible under law, Su Entriken has waived
      all copyright and related or neighboring rights to the TenThousandSu.com website. This work is published from the
      United States.
    </small>
  </footer>
  <script>
    // Get URL fragment
    const squareNumber = parseInt(window.location.hash.substring(1));
    const personalizations = fetch('build/squarePersonalizations.json').then(response => response.json());
    const extras = fetch('build/squareExtra.json').then(response => response.json());

    Promise.all([personalizations, extras]).then(([personalizations, extras]) => {
      // Each personalization is [title, href] or null
      // Each extra is [mintedBlock, updatedBlock, mainIsPersonalized, version] or null
      // Arrays are zero indexed, but the first Su Square number is 1!

      const elSquareNumber = document.getElementById("square-number");
      elSquareNumber.innerText = squareNumber;

      const elMinted = document.getElementById('minted');
      elMinted.innerText = extras[squareNumber - 1] ? `Block ${extras[squareNumber - 1][0]}` : 'Not minted';

      const elPersonalized = document.getElementById('personalized');
      elPersonalized.innerText = extras[squareNumber - 1] ? `Block ${extras[squareNumber - 1][1]}` : 'Not personalized';

      const elTitle = document.getElementById('title');
      elTitle.innerText = personalizations[squareNumber - 1] ? personalizations[squareNumber - 1][0] : 'Not personalized';

      const elLink = document.getElementById('link');
      elLink.innerText = personalizations[squareNumber - 1] ? personalizations[squareNumber - 1][1] : 'Not personalized';

      const elEmojified = document.getElementById('emojified');

      // Set image
      const row = Math.floor((squareNumber - 1) / 100); // 0 indexed
      const col = (squareNumber - 1) % 100; // 0 indexed
      const elImage = document.getElementById('image');
      elImage.style.backgroundImage = 'url("build/wholeSquare.webp")';
      elImage.style.backgroundPosition = `-${col * 10}px -${row * 10}px`;
      elImage.style.height = '10px';
      elImage.style.width = '10px';
      elImage.style.display = 'inline-block';
      elImage.style.zoom = '20';
      elImage.style.imageRendering = 'pixelated';

      // Set arrow location, based on quadrant
      const elArrow = document.getElementById('arrow');
      const mapScale = 0.5;
      const scalePosition = (value) => `${value * mapScale}px`;
      const setArrow = (src, topPx, leftPx) => {
        elArrow.src = src;
        elArrow.style.top = scalePosition(topPx);
        elArrow.style.left = scalePosition(leftPx);
      };
      elArrow.style.width = `${100 * mapScale}px`;
      elArrow.style.height = `${100 * mapScale}px`;

      if (row < 50) {
        if (col < 50) {
          setArrow('assets/ul.png', row * 10 + 10, col * 10 + 10);
        } else {
          setArrow('assets/ur.png', row * 10 + 10, col * 10 - 100);
        }
      } else {
        if (col < 50) {
          setArrow('assets/dl.png', row * 10 - 100, col * 10 + 10);
        } else {
          setArrow('assets/dr.png', row * 10 - 100, col * 10 - 100);
        }
      }

      // Emoji squares and RGB values for ⬛⬜🟥🟧🟨🟩🟦🟪🟫
      const emojis = [
        { "emoji": "⬛", "red": 0, "green": 0, "blue": 0 },
        { "emoji": "⬜", "red": 255, "green": 255, "blue": 255 },
        { "emoji": "🟥", "red": 255, "green": 0, "blue": 0 },
        { "emoji": "🟧", "red": 255, "green": 165, "blue": 0 },
        { "emoji": "🟨", "red": 255, "green": 255, "blue": 0 },
        { "emoji": "🟩", "red": 0, "green": 128, "blue": 0 },
        { "emoji": "🟦", "red": 0, "green": 0, "blue": 255 },
        { "emoji": "🟪", "red": 128, "green": 0, "blue": 128 },
        { "emoji": "🟫", "red": 139, "green": 69, "blue": 19 },
      ]

      // Create canvas
      const canvas = document.createElement('canvas');
      canvas.width = 10;
      canvas.height = 10;
      // Add wholeSquare to canvas
      const context = canvas.getContext('2d');
      const image = new Image();
      image.src = 'build/wholeSquare.webp';
      image.onload = function () {
        context.drawImage(image, col * 10, row * 10, 10, 10, 0, 0, 10, 10);
        // Get pixels
        const imageData = context.getImageData(0, 0, 10, 10);
        const pixels = imageData.data;
        // Loop pixels
        let emojiString = '';
        for (let i = 0; i < pixels.length; i += 4) {
          // Get pixel color
          const red = pixels[i];
          const green = pixels[i + 1];
          const blue = pixels[i + 2];
          // Find closest emoji
          let closestEmoji = emojis[0];
          let closestDistance = 195075;
          for (let j = 0; j < emojis.length; j++) {
            const emoji = emojis[j];
            const distance = Math.sqrt(
              Math.pow(emoji.red - red, 2) +
              Math.pow(emoji.green - green, 2) +
              Math.pow(emoji.blue - blue, 2)
            );
            if (distance < closestDistance) {
              closestEmoji = emoji;
              closestDistance = distance;
            }
          }
          emojiString += closestEmoji.emoji;
          // Add line break
          if (i % 40 === 36) {
            emojiString += "<br>";
          }
        }
        // Set emoji string
        elEmojified.innerHTML = emojiString;
      }

      // Copy emojified
      const elCopyEmojified = document.getElementById('copy-emojified');
      elCopyEmojified.addEventListener('click', () => {
        const range = document.createRange();
        range.selectNode(elEmojified);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
      });
    });
  </script>
</body>

</html>
