<article class="square-lookup{% if include.variant == 'narrow' %} square-lookup--narrow{% endif %}" id="pick-a-square-lookup">
  <h2>Square look up</h2>
  <p>Enter an already minted square to look up information about it.</p>
  <div class="square-lookup__controls">
    <input id="square-lookup-input" type="number" min="1" max="10000" inputmode="numeric" placeholder="e.g. 8503">
    <div class="square-lookup__actions">
      <button id="square-lookup-choose" type="button">Choose from list</button>
      <button id="square-lookup-billboard" type="button">Choose from billboard</button>
    </div>
  </div>
  <button id="square-lookup-submit" type="button" class="btn btn-lg square-lookup__submit">Look up</button>
</article>
