<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Buy Su Squares",
  "headline": "Buy Su Squares",
  "description": "Purchase Su Squares NFTs on Ethereum that you can personalize to appear on the TenThousandSu.com homepage billboard.",
  "inLanguage": "en",
  "url": "{{ site.url }}{{ site.baseurl }}/buy",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}/buy"
  },
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png"
}
</script>
