<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Personalize Su Squares",
  "headline": "Personalize Su Squares",
  "description": "Personalize Su Squares you own by setting a title, link, and small image so your Squares update on-chain and on the TenThousandSu.com homepage billboard.",
  "inLanguage": "en",
  "url": "{{ site.url }}{{ site.baseurl }}/personalize",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}/personalize"
  },
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png"
}
</script>
