<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Su Square lookup",
  "headline": "Su Square lookup",
  "description": "Look up individual Su Squares by number and view their latest on-chain personalization data as it appears on the TenThousandSu.com homepage billboard.",
  "inLanguage": "en",
  "url": "{{ site.url }}{{ site.baseurl }}/square",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}/square"
  },
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/su-OG.png"
}
</script>
