<!doctype html>
<html lang="en">
<head>
  <script>window.SITE_BASEURL = "{{ site.baseurl }}";</script>
  <meta charset="utf-8">
  <title>{{ page.title | escape }}</title>
  <link rel="canonical" href="{{ site.url | escape }}{{ site.baseurl }}{{ page.permalink | escape }}" />
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/images/branding/logomark.svg">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a id="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/branding/logo-su-squares.svg" alt="Su Squares logo"></a>
  </header>

  <hr>

  <article class="lead">
    {{ content }}
    <h2>Claim your Square</h2>
    <p>Next, go to <a href="{{ site.baseurl }}/">the homepage</a>, and click an available Square to claim it.</p>
  </article>

  <footer>
    <small>
      No cookies. No analytics. To the extent possible under law, Su Entriken has waived all copyright and related or neighboring rights to the TenThousandSu.com website. This work is published from the United States.
    </small>
  </footer>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      anchors.add();
    });
  </script>
</body>
</html>
