<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | escape }}</title>
  <link rel="canonical" href="{{ site.url | escape }}{{ page.permalink | escape }}" />
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <header>
    <a id="logo" href="/"><img src="/assets/logo-su-squares.svg" style="width:348px;height:57px;object-fit: cover;"></div></a>
  </header>

  <div class="image-list">
  </div>

  <article class="lead">
      {{ content }}
  </article>

  </article>
  <footer>
    <small>
      Ten Thousand Su&trade; website &copy; Su Entriken. All rights reserved. Not responsible for the content of linked sites. Images shown on homepage are &copy; their respective owners.
    </small>
  </footer>
</body>
</html>
