<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | escape }}</title>
  <link rel="canonical" href="{{ site.url | escape }}{{ page.permalink | escape }}" />
  <link rel="stylesheet" href="/assets/main.css">
  <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a id="logo" href="/"><img src="/assets/logo-su-squares.svg" style="width:348px;height:57px;object-fit: cover;"></div></a>
  </header>

  <div class="image-list">
  </div>

  <article class="lead">
      {{ content }}
  </article>

  </article>
  <footer>
    <small>
      Ten Thousand Su&trade; website &copy; Su Entriken. All rights reserved. Not responsible for the content of linked sites. Images shown on homepage are &copy; their respective owners.
    </small>
  </footer>
  <script>
    // Add anchors on DOMContentLoaded
    document.addEventListener('DOMContentLoaded', function(event) {
      anchors.add();
    });
  </script>
</body>
</html>
